@model string

@if (!string.IsNullOrEmpty(Model))

{
    <span class="btn">Xin chào, @Model</span>
    <a asp-action="Logout" asp-controller="Users" class="btn">Đăng Xuất</a>
}

else

{
    <a asp-action="Register" asp-controller="Users" class="btn">Đăng Ký</a>
    <a asp-action="Login" asp-controller="Users" class="btn">Đăng Nhập</a>
}